.hamburger-icon {
  filter: opacity(0.7);
  height: 30px;
  position: absolute;
  right: 40px;
  width: 30px;
  transform: translateY(3px);
  @media screen and (min-width: map-get($breakpoints, "small")) {
    display: none;
  }
  &:hover {
    filter: opacity(0.5);
    cursor: pointer;
  }
}
