.wrapper {
  align-items: flex-start;
  background-color: powderblue;
  display: grid;
  gap: 40px;
  grid-auto-rows: max-content;
  height: 100vh;
  justify-items: center;
  padding: 20px 30px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 1;

  &--mobile-menu-open {
    @media screen and (max-width: 400px) {
      transform: translateY(67px);
    }
  }
}
