.wrapper {
  align-items: flex-start;
  display: grid;
  gap: 40px;
  grid-auto-rows: max-content;
  height: 100vh;
  justify-items: center;
  margin: 46px auto 0;
  padding: 20px 0;
  width: 850px;

  @media screen and (max-width: map-get($breakpoints, "large")) {
    width: 490px;
  }

  @media screen and (max-width: map-get($breakpoints, "small")) {
    width: 435px;

    &--mobile-menu-open {
      margin-top: 125px;
    }
  }

  @media screen and (max-width: map-get($breakpoints, "x-small")) {
    width: 300px;
  }
}
