.wrapper {
  background-color: powderblue;
  height: 100vh;
  padding: 20px 30px;
  position: absolute;
  top: 46px;
  width: 100%;
  z-index: 1;

  &--mobile-menu-open {
    @media screen and (max-width: 400px) {
      transform: translateY(67px);
    }
  }
}
