@use "sass:color";

.best-movie {
  @include clearfix;
  background-color: color.scale($color-secondary, $lightness: -3%);
  border-radius: 8px;
  max-width: 850px;
  // 182px + 2 * padding
  min-width: 222px;
  padding: 20px;
  text-align: center;
  &__poster {
    float: left;
    margin-right: 15px;
  }
  &__title {
    text-align: center;
  }
  &__description {
    font-size: 2rem;
    text-align: justify;
  }
  & .btn {
    margin: 40px 0px;
  }
  @media screen and (max-width: 620px) {
    &__poster {
      margin: 0;
      float: none;
    }
    &__title {
      margin: 20px 0px 10px;
    }
    & .btn {
      margin: 10px 0px 20px;
    }
  }
}
