@use "sass:color";

.category-top {
  background-color: color.scale($color-secondary, $lightness: -3%);
  border-radius: 8px;
  display: grid;
  justify-content: center;
  padding: 20px;
  width: 100%;

  &__title {
    margin-bottom: 20px;
    padding-left: 62px;
  }
}
